<div>
    <h2 class="gameTitle">Lobby room: {{ gameName }}</h2>
</div>

<div class="btnContainer" *ngIf="leader && !gameStarted">
    <startGame></startGame>
</div>
<div class="selectGrpContainer" *ngIf="
    roundLeader != undefined && roundLeader == this.game.player && !groupDefined
  ">
    <button class="startBtn" mat-raised-button color="primary" (click)="selectGroup()">
        Send group
    </button>
</div>

<div class="lobby-grid">
    <div *ngFor="let player of players" class="card" [formGroup]="selectedPlayers"
        [ngClass]="{ 'enemy-card': enemies.includes(player) }">
        <!-- Clase condicional para enemigos -->
        <div class="groupSelect" *ngIf="
        roundLeader != undefined &&
        roundLeader == this.game.player &&
        !groupDefined
      ">
            <mat-checkbox formControlName="{{ player }}"
                (change)="onPlayerSelect(player, $event.checked)"></mat-checkbox>
        </div>
        <div class="card-crown" *ngIf="roundResponse.data.leader == player">
            <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path fill="#FFD43B"
                    d="M309 106c11.4-7 19-19.7 19-34c0-22.1-17.9-40-40-40s-40 17.9-40 40c0 14.4 7.6 27 19 34L209.7 220.6c-9.1 18.2-32.7 23.4-48.6 10.7L72 160c5-6.7 8-15 8-24c0-22.1-17.9-40-40-40S0 113.9 0 136s17.9 40 40 40c.2 0 .5 0 .7 0L86.4 427.4c5.5 30.4 32 52.6 63 52.6l277.2 0c30.9 0 57.4-22.1 63-52.6L535.3 176c.2 0 .5 0 .7 0c22.1 0 40-17.9 40-40s-17.9-40-40-40s-40 17.9-40 40c0 9 3 17.3 8 24l-89.1 71.3c-15.9 12.7-39.5 7.5-48.6-10.7L309 106z" />
            </svg>
        </div>
        <div class="card-photo">
            <img mat-card-image [src]="'https://robohash.org/' + player + '?set=set4'" alt="avatar" />
        </div>
        <div class="card-title">{{ player }} <br /></div>

        <div class="button" *ngIf="game.player == player && roundResponse.data.status == 'waiting-on-group'">
            <button (click)="voting(true)" class="game-btn check">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M163.9 136.9c-29.4-29.8-29.4-78.2 0-108s77-29.8 106.4 0l17.7 18 17.7-18c29.4-29.8 77-29.8 106.4 0s29.4 78.2 0 108L310.5 240.1c-6.2 6.3-14.3 9.4-22.5 9.4s-16.3-3.1-22.5-9.4L163.9 136.9zM568.2 336.3c13.1 17.8 9.3 42.8-8.5 55.9L433.1 485.5c-23.4 17.2-51.6 26.5-80.7 26.5L192 512 32 512c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l36.8 0 44.9-36c22.7-18.2 50.9-28 80-28l78.3 0 16 0 64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0-16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16l120.6 0 119.7-88.2c17.8-13.1 42.8-9.3 55.9 8.5zM193.6 384c0 0 0 0 0 0l-.9 0c.3 0 .6 0 .9 0z" />
                </svg>
            </button>
            <div *ngIf="isCurrentPlayerEnemy()">
                <button (click)="voting(false)" class="game-btn sabotage">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path
                            d="M265.2 192c25.4 0 49.8 7.1 70.8 19.9L336 512l-192 0 0-174.3L90.4 428.3c-11.2 19-35.8 25.3-54.8 14.1s-25.3-35.8-14.1-54.8L97.7 258.8c24.5-41.4 69-66.8 117.1-66.8l50.4 0zM160 80a80 80 0 1 1 160 0A80 80 0 1 1 160 80zM448 0c8.8 0 16 7.2 16 16l0 116.3c9.6 5.5 16 15.9 16 27.7l0 109.3 16-5.3 0-56c0-8.8 7.2-16 16-16l16 0c8.8 0 16 7.2 16 16l0 84.5c0 6.9-4.4 13-10.9 15.2L480 325.3l0 26.7 48 0c8.8 0 16 7.2 16 16l0 16c0 8.8-7.2 16-16 16l-44 0 23 92.1c2.5 10.1-5.1 19.9-15.5 19.9L432 512c-8.8 0-16-7.2-16-16l0-96-16 0c-17.7 0-32-14.3-32-32l0-144c0-17.7 14.3-32 32-32l0-32c0-11.8 6.4-22.2 16-27.7L416 32c-8.8 0-16-7.2-16-16s7.2-16 16-16l16 0 16 0z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>


    <div class="button-container">
        <!-- <button mat-mini-fab (click)="openDialog()">
            <mat-icon>menu</mat-icon>
        </button> -->

        <button (click)="openDialog()">
            Presiona
        </button>
    </div>
    <div class="selectGrpContainer" *ngIf="roundResponse.data.status == 'voting'">
        <voteGroup [roundPayload]="roundPayload" [password]="game.password ? game.password : ''"
            [group]="roundResponse.data.group" />
    </div>
</div>