<div class="scrollBar" *ngIf="serverData">
    <div class="container">

        <div class="header">
            <input id="searchInput" type="text" name="text" class="input" placeholder="Ingresa el nombre de la sala"
                [(ngModel)]="searchTerm" (ngModelChange)="onInput()">

            <div class="select">
                <div class="selected" data-default="lobby" data-one="rounds" data-two="ended">

                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="arrow">
                        <path
                            d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
                        </path>
                    </svg>
                </div>

                <div class="options">
                    <div title="lobby" (click)="selectOption('lobby')">
                        <input id="all" name="option" type="radio" checked="" />
                        <label class="option" for="all" data-txt="lobby"></label>
                    </div>
                    <div title="rounds" (click)="selectOption('rounds')">
                        <input id="option-1" name="option" type="radio" />
                        <label class="option" for="option-1" data-txt="rounds"></label>
                    </div>
                    <div title="ended" (click)="selectOption('ended')">
                        <input id="option-2" name="option" type="radio" />
                        <label class="option" for="option-2" data-txt="ended"></label>
                    </div>
                </div>
            </div>
        </div>

        <ul>
            <li *ngFor="let game of filteredResults">
                <userRoom [game]="game"></userRoom>
            </li>
        </ul>

        <p *ngIf="filteredResults.length === 0">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Oh no! No pudimos encontrar esa sala!</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://i.imgur.com/z4l5HRa.png" alt="engineer kitten"
                    style="width: 200px; height: auto;">
            </mat-card>
        </p>

        <nav class="paginator">
            <button class="button prev" (click)="pagination(currentPage - 1)">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 320 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path fill="#616161"
                        d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
                </svg>
            </button>

            <span class="page-info">Page {{ currentPage }}</span>

            <button class="button next" (click)="pagination(currentPage + 1)">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 320 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path fill="#616161"
                        d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                </svg>
            </button>
        </nav>
    </div>
</div>