* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.scrollBar {
    display: flex;
    height: 60vh;
    flex-direction: column
}

.container {
    width: 100vh;
    background-color: #ffffff;
    padding: 15px;
    overflow-y: auto;
    transition: width 0.3s ease;
    margin-right: 20%;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
}

.input {
    width: 70%;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    margin-right: 5px;
}

.input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    border: 2px solid grey;
}

.select {
    width: fit-content;
    cursor: pointer;
    position: relative;
    transition: 300ms;
    color: white;
    overflow: hidden;
    margin-top: 5px;

}

.selected {
    background-color: #2a2f3b;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    position: relative;
    z-index: 100000;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    position: relative;
    right: 0px;
    height: 10px;
    transform: rotate(-90deg);
    width: 25px;
    fill: white;
    z-index: 100000;
    transition: 300ms;
}

.options {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: #2a2f3b;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: 300ms;
}

.select:hover>.options {
    opacity: 1;
    top: 0;
}

.select:hover>.selected .arrow {
    transform: rotate(0deg);
}

.option {
    border-radius: 5px;
    padding: 5px;
    transition: 300ms;
    background-color: #2a2f3b;
    width: 150px;
    font-size: 15px;
}

.option:hover {
    background-color: #323741;
}

.options input[type="radio"] {
    display: none;
}

.options label {
    display: inline-block;
}

.options label::before {
    content: attr(data-txt);
}

.options input[type="radio"]:checked+label {
    display: none;
}

.options input[type="radio"]#all:checked+label {
    display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
    content: attr(data-default);
}

.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
    content: attr(data-one);
}

.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
    content: attr(data-two);
}

/*Pagination*/
.paginator {
    display: flex;
    justify-content: center;
    /* Centra los elementos en el contenedor */
    align-items: center;
    /* Alinea verticalmente los elementos */
    margin: 20px 0;
    /* Espacio alrededor del contenedor */
}

button svg {
    width: 20px;
}

.button {
    background-color: transparent;
    border: none;
    /* Sin borde */
    border-radius: 5px;
    /* Bordes redondeados */
    padding: 10px 15px;
    /* Espacio interno */
    margin: 0 5px;
    /* Espacio entre botones */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s;
    /* Transición suave para el color de fondo */
}

.button svg:hover {
    transform: scale(1.2);
}

.button:disabled {
    background-color: #ccc;
    /* Color para el botón deshabilitado */
    cursor: not-allowed;
    /* Cambia el cursor para indicar que no se puede hacer clic */
}

.page-info {
    margin: 0 15px;
    /* Espacio entre los botones y el texto */
    font-weight: bold;
    /* Texto en negrita */
}