<div class="scrollBar" *ngIf="serverData">
    <div class="container">
        <input id="searchInput" type="text" name="text" class="input" placeholder="Enter the room name."
            [(ngModel)]="searchTerm" (ngModelChange)="searchRoom()">

        <ul>
            <li *ngFor="let game of filteredResults">
                <userRoom [game]="game"></userRoom>
            </li>
        </ul>

        <p *ngIf="filteredResults.length === 0">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Oh no! Server not found!</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://i.imgur.com/z4l5HRa.png" alt="engineer kitten" style="width: 200px; height: auto;">
            </mat-card>
        </p>
    </div>
</div>