<mat-card class="createRoom" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> Crear una sala:</mat-card-title>
    </mat-card-header>
  
    <div style="margin: 20px;">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Nombre de la sala</mat-label>
            <input matInput formControlName="name" placeholder="Nombre" />
            <!-- <mat-error *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">
              El nombre es obligatorio.
            </mat-error> -->
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Dueño</mat-label>
            <input matInput formControlName="owner" placeholder="Dueño"/>
            <!-- <mat-error *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
              Introduce un email válido.
            </mat-error> -->
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" placeholder="Contraseña"/>
          </mat-form-field>
      
        <mat-card-actions >
            <button mat-raised-button type="submit">Create Room</button>
        </mat-card-actions>
        </form>
      </div>

 
  </mat-card>

