<mat-card class="createRoom" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> Crear una sala:</mat-card-title>
    </mat-card-header>
  
    <div style="margin: 20px;">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Nombre de la sala</mat-label>
            <input matInput formControlName="name" placeholder="Nombre" />
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Dueño</mat-label>
            <input matInput formControlName="owner" placeholder="Dueño"/>
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" placeholder="Contraseña"/>
          </mat-form-field>
      
        <mat-card-actions >
            <button mat-raised-button  type="submit">Create Room</button>
        </mat-card-actions>
        </form>
      </div>
  </mat-card>
