<div class="trophy">
    <div class="top">
        <div class="first">
            <div class="cup"></div>
            <div class="circle"></div>
            <div class="cup-base"></div>
            <div class="arm"></div>
            <div class="arm right"></div>
        </div>
    </div>
    <div class="move">
        <div class="base">
            <div class="crop-base"></div>
            <div class="base-top"></div>
            <div class="base-side"></div>
            <div class="base-side right"></div>
            <div class="plate">
                <div class="aliados-text">{{title}}</div>
            </div>
        </div>
    </div>
</div>
<div class="firework"></div>
<div class="firework"></div>
<div class="firework"></div>