<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{name}}</mat-card-title>
      <!-- <mat-card-subtitle>{{owner}}</mat-card-subtitle> -->
    </mat-card-header>
  
    <mat-card-actions>
      <!-- <button mat-mini-fab class="btn">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-mini-fab class="btn">
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-card-actions>
  </mat-card>